.layout1 {
  background-image: url('/pic_layout.png');
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .yes {
    margin-top: 650px;
    height: 80px;
  }

  .no {
    margin-top: 20px;
    height: 80px;
  }
}